{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que :
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container mt-4">
			<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
			<label for="inputUsername">Pseudo</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="row mt-4">
				<a href="{{path('app_forgot_password_request')}}">
					Vous avez oublié votre mot de passe?</a>
			</div>

			<div class="checkbox mb-3 mt-2">
				<label>
					<input type="checkbox" name="_remember_me">Se souvenir de moi</label>
			</div>
			<button class="btn btn-primary" type="submit">Connexion</button>
		</form>
	</div>
{% endblock %}
