{% extends 'base.html.twig' %}

{% block title 'Gestion campus' %}

{% block body %}
	<div class="container mt-4">
		<h1 style="text-align:center;">Gérer les campus</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-primary">Rechercher</button>
		{{ form_end(form) }}
		<table class="table table-striped mt-4">
			<thead>
				<th>Campus</th>
				<th>Action</th>
			</thead>

			{% for campus in campus %}
				<tbody>
					<tr>
						<td>
							{{campus.name}}
						</td>
						<td>
							<a href=" {{path('campus_edit', {id : campus.id})}} " class="btn btn-primary">Editer</a>
							<a href=" {{path('campus_delete', {id : campus.id})}} " class="btn btn-danger">Supprimer</a>
						{% endfor %}
					</tr>
				</tbody>
			</table>
			<a href=" {{path('campus_create')}} " class="btn btn-success">Ajouter un campus</a>
		</div>
	{% endblock %}
