{% extends 'base.html.twig' %}

{% block title 'Administration utilisateurs' %}

{% block body %}

	<div class="container mt-4">
		<h1 style="text-align:center;">Liste des utilisateurs</h1>

		<table class="table table-striped mt-4">

			<thead>
				<tr>
					<th>ID</th>
					<th>Pseudo</th>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Telephone</th>
					<th>Email</th>
					<th>Role</th>
					<th>Actif</th>
					<th style="text-align:center;">Action</th>
				</tr>
			</thead>
			{% for user in users %}
				<tbody>
					<tr>
						<td>
							{{user.id}}
						</td>
						<td>
							{{user.username}}
						</td>
						<td>
							{{user.firstname}}
						</td>
						<td>
							{{user.lastname}}
						</td>
						<td>
							{{user.phone}}
						</td>
						<td>
							{{user.email}}
						</td>
						<td>
							{% if user.roles | join(', ') == 'ROLE_ADMIN' %}
								Administrateur
								{# {{user.roles | join(', ')}} #}
							{% elseif  user.roles | join(', ') == 'ROLE_USER' %}
								Utilisateur
							{% endif %}
						</td>
						<td>
							{{user.isActive ? 'Oui' : 'Non'}}
						</td>

						<td style="text-align:center; ">
							<form method="POST" action="{{path('user_delete', {id: user.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur?');" style="display:inline-block;">
								<a class="btn btn-primary" href=" {{path('user_edit', {id: user.id})}} ">Editer</a>
								<input type="hidden" name="_method" value="DELETE" >
								<input type="hidden" name="_token" value="{{csrf_token('delete' ~ user.id)}}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<a class="btn btn-success" href=" {{path('user_register')}} ">Créer utilisateur</a>
	</div>
{% endblock %}
