{% extends 'base.html.twig' %}

{% block title 'Créer une sortie'%}

{% block body %}

<h2 style="text-align:center; margin-top: 2rem;">Créer une sortie</h2>
<div class="container">
	<table class="table mt-4">
		{{ form_start(form) }}
		<tr>
			<td>
				{{form_row(form.name, {'label': 'Nom de la sortie'})}}
			
			</td>
			<td>
				<label for="Campus">Campus</label>
				<br>
				{% if is_granted ('ROLE_ADMIN') %}
					<select name="campus" id="Campus" style="width:100%; height : 2rem">
						{% for campus in campus %}
						<option value="{{ campus.name }}">{{ campus.name }}</option>
						{% endfor %}
					</select>
				{% else %}
					<input type="text" placeholder="{{ trip.organizer.name }}" style="width: 100%" disabled>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>
				{{form_row(form.dateStart, {'label': 'Date et heure de la sortie'})}}
			</td>
			<td>
				{{form_row(form.tripsPlace, {'label': 'Lieu'})}}
				<a href="{{path('place_new')}}" class="btn btn-success">Ajouter un lieu</a></td>
				</td>
		</tr>
		<tr>
			<td>
				{{ form_row(form.limitRegisterDate, {'label': 'Date limite d\'inscription' }) }} 
			<td>
			<label for="Ville">Ville</label>
			{% if trip.tripsPlace == null %} 
				<input type="text" style="width:100%" value= "" disabled>
			{% else %}
				<input type="text" style="width:100%" value= "{{trip.tripsPlace.city.name}}" disabled>
			{% endif %} 
			</td>
		</tr>

		<tr>
				<td>
					{{form_row(form.duration, {label : 'Durée (Minutes)'}) }}
				</td>
				<td>
					<label for="rue">Rue</label>
					{% if trip.tripsPlace == null %} 
				<input type="text" style="width:100%" value= "" disabled>
			{% else %}
				<input type="text" style="width:100%" value= "{{trip.tripsPlace.street}}" disabled>
			{% endif %} 
				</td>
			</tr>


			<tr>
				<td>
					{{form_row(form.maxRegistrations, {'label': 'Nombre de places'}) }}
				</td>
				<td>
					<label for="code_postal">Code Postal</label>
					{% if trip.tripsPlace == null %} 
				<input type="text" style="width:100%" value= "" disabled>
			{% else %}
				<input type="text" style="width:100%" value= "{{trip.tripsPlace.city.postalCode}}" disabled>
			{% endif %} 
				</td>
			</tr>


			<tr>
				<td>
					{{form_row(form.tripInformations, {'label': 'Description et infos'}) }}
				</td>
				<td>
					<label for="latitude">Latitude</label>
					{% if trip.tripsPlace == null %} 
				<input type="text" style="width:100%" value= "" disabled>
			{% else %}
				<input type="text" style="width:100%" value= "{{trip.tripsPlace.latitude}}" disabled>
			{% endif %} 
					<label for="Longitude">Longitude</label>
					{% if trip.tripsPlace == null %} 
				<input type="text" style="width:100%" value= "" disabled>
			{% else %}
				<input type="text" style="width:100%" value= "{{trip.tripsPlace.longitude}}" disabled>
			{% endif %} 
				</td>
			</tr>
	</table>


		<div style="text-align:center; justify-content: space-between; ">
			<button class="btn btn-primary">Enregistrer</button>
			{% if trip.id != null %}
			{% if trip.state.id == 2 %}
			<a href=" {{path('trips_publish', {id : trip.id})}} " class="btn btn-info">Publier la sortie</a>
			{% endif %}
			<a href="{{path('trips_delete', {id: trip.id})}}"  class="btn btn-danger">Supprimer la sortie</a>
			{% endif %}
			<a type="button" href="{{path('home_')}}" class="btn btn-primary">Annuler</a>
		
		
		</div>
		{{ form_end(form) }}
</div>
<br><br><br><br>
 
{% endblock %}
  
 
		
